/*
 * Application css for look and feel customization.
 * When we try to integrate different technologies and frameworks
 * (ZK framework, JQuery UI, Boostrap, etc) sometimes happens that we have
 * unexpected behavior or unexpected look and feel.
 * Here is the right location where to fix these things
 */

.voffset  {
	margin-top: 2px;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #23527c;
	text-decoration: none;
}

.dd-option-image, .dd-selected-image {
	width: 32px;
	height: 32px;
}

.dd-selected {
	font-weight: normal;
	padding: 5px;
}
