/***
This is a custom material design for a sample BootStrap template

***/
body {
	padding: 0px;
    padding-top: 50px;
}
.navbar-fixed-top {
	background-color: #008db7;
	color: #fff;
}
.navbar-fixed-top img {
	height: 40px;
}
.navbar-fixed-left {
 	position: fixed;
 	left: 0px;
 	top: 50px;	
 	width: 200px;
}
.container-body {
	margin-left: 200px; 
	height: 100%;
}
.navbar-brand {
	padding: 5px;
} 
/** border layout **/
.left-box, .top-box, .content-box {
    color: white;
    font-size: 1.5em;
    width: 100%;
}
.content-box {
    height: 100%;
    background: #fff;
}
.left-box {
     background-color: #F5F5F5;
    height: 100%;
    text-align: center;
    border-right: 1px solid #ccc;
}
.top-box, .content-box {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
.container {
    min-height: 100%;
    overflow: hidden;
}

.turn-left {
    transform: rotate(-90deg);
}
/****/
.row-nopadding > div[class^="col-"]{
	padding-left: 0px;
	padding-right: 0px;
}
.nav-pills {
	height: 50px;
}
.nav-pills li {
	height: 50px;
}
.nav-pills li a {
	height: 100%;
	background: rgba(0, 141, 183, 0.53);
	border-radius: 0px;
	padding: 0px 10px;
	line-height: 50px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background: #1A237E;
}
.nav-pills>li>a {
	background: #e1e1e1;
}
.navbar-inverse {
	border: 0px;
}
.nav-pills>li+li {
	margin: 0px;
	margin-right: 1px; 
}
#myNavbar {
	margin-left: 100px;
}

